.card {
  height: 73px;
  width: 299px;
  border-radius: 8px;
  padding: 8px;
  margin: 0 12px;
}

.auto-layout {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.white {
  background: #FFFFFF;
  box-shadow: 0px 8px 20px -2px rgba(43, 37, 63, 0.1);
  border-radius: 8px;
}

.text-up-down {
  height: 36px;
  width: 56px;
  border-radius: 0px;
}

.insideCard{
  display:flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 267px;
  height: 41px;
  padding: 15px;
}

.name {
  font-family: Graphik;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.005em;
  text-align: left;
}

.companyName {
  font-family: Graphik;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.005em;
  text-align: left;
}

.logo-empresa {
  height: 36px;
  width: 36px;
  border-radius: 100px;
  margin: 0 10px;
}

.text-card {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  align-self: center;
  padding: 15px;
}
